<div class="container-box">

  <div class="form">

    <h2 class="form__title">Retiro Parcial por Desempleo</h2>

    <form
      action="/calcular/"
      method="post"
      class="form__cotizar"
      name="formulario_cotizar"
    >

      {{#if_equal user.permiso "Encargado"}}
        <h4 class="mb-4">{{user.zona}}</h4>
      {{/if_equal}}

      {{#if_equal user.permiso "Temporal"}}
        <h4 class="mb-4">{{user.zona}}</h4>
      {{/if_equal}}

      {{#if_equal user.permiso "Administrador"}}
        <div class="form__input">
          <div class="form__input-item">
            <select name="zona" class="form-control">
              <option value="">Elige una sucursal</option>
              {{#each region}}
                <option value="{{zona}}">{{zona}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      {{/if_equal}}

      {{#if_equal user.permiso "Regional"}}
        <div class="form__input">
          <div class="form__input-item">
            <select name="zona" class="form-control">
              <option value="">Elige una sucursal</option>
              {{#each region}}
                <option value="{{zona}}">{{zona}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      {{/if_equal}}

      <div class="form__input">

        <div class="form__input-item">
          <input
            type="number"
            id="cantidadRetiro"
            name="montoRetiro"
            autocomplete="off"
          />
          <label for="montoRetiro" class="label">Cantidad a Retirar</label>
        </div>

        <button
          type="submit"
          class="btn btn-info btn-block"
          id="btnCalcular"
        >Calcular</button>

      </div>
    </form>

  </div>

</div>

<!-- alertify -->
{{! <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script> }}

<!-- script calcular -->
<script src="/js/calcularCosto.js"></script>