<div class="container-box">

  <div class="search">
    <form action="/directorio" method="post">
      {{!-- <label for="cliente" class="form-label">Cliente</label> --}}
      <input type="search" placeholder="Buscar" name="busqueda" class="form-control" autocomplete="off">
      <button type="submit" class="btn btn-primary fas fa-search" style="height:2rem;"></button>
    </form>
  </div>

  <div class="container p-4">
    <div class="row">
      {{#each directorio}}
      <div class="col-md-6 mt-4 mx-auto">
        <div class=" card border-info text-dark bg-light">

          <h5 class="card-header text-muted">{{zona}}</h5>

          <div class="card-body">

            <h6 class="card-title m-1">Nombre:</h6>
            <p class="card-text m-1">{{fullname}}</p>
            <h6 class="card-title m-1">Puesto:</h6>
            <p class="card-text m-1">{{puesto}}</p>
            <h6 class="card-title m-1">Email:</h6>
            <a href="mailto:{{correo}}">
              <p class="card-text m-1"><i class="fas fa-envelope mr-1"></i>{{correo}}</p>
            </a>
            <h6 class="card-title m-1">Celular:</h6>
            <a href="https://wa.me/52{{movil}}" target="_blank">
              <p class="card-text m-1"><i class="fab fa-whatsapp mr-1"></i>{{movil}}</p>
            </a>
            <h6 class="card-title m-1">Oficina:</h6>
            <a href="tel:+52{{oficina}}">
              <p class="card-text m-1"><i class="fas fa-phone mr-1"></i>{{oficina}}</p>
            </a>
            <h6 class="card-title m-1">Dirección:</h6>
            <p class="card-text m-1">{{direccion}}</p>

          </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p class="text-center">No se ha realizado ninguna busqueda.</p>
          <a href="/profile">Ir a perfil!</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>