<div class="container-box">

  {{#if_equal user.permiso "Administrador"}}

    <div class="search">
      <form action="/resume-zona" method="POST">

        <select name="zona" id="zona" class="form-control">
          <option value="">Elige una zona</option>
          {{#each zonas}}
            <option value="{{zona}}">{{zona}}</option>
          {{/each}}
        </select>

        <button
          type="submit"
          class="btn btn-primary fas fa-search ml-2"
          style="height: 2rem;"
        ></button>

      </form>
    </div>

  {{/if_equal}}

  {{#if_equal user.permiso "Regional"}}

    <div class="search">
      <form action="/resume-zona" method="POST">

        <select name="zona" id="zona" class="form-control">
          <option value="">Elige una zona</option>
          {{#each zonas}}
            <option value="{{zona}}">{{zona}}</option>
          {{/each}}
        </select>

        <button
          type="submit"
          class="btn btn-primary fas fa-search ml-2"
          style="height: 2rem;"
        ></button>

      </form>
    </div>

  {{/if_equal}}

  <div class="container p-2">
    <div class="tarjeta">
      <h2 class="resume-title">
        {{user.zona}}
      </h2>

      <h6 class="resume-status">
        Pendientes
        {{zona}}
      </h6>

      <div class="grid">
        {{#each motivos}}
          <div class="tarjeta-status">
            <a href="/desgloce-pendientes/{{motivo}}?zona={{zona}}">
              <h6 class="tarjeta-title">{{motivo}}</h6>
              <p class="tarjeta-text">{{total}}</p>
            </a>
          </div>
        {{/each}}
      </div>

      <h6 class="resume-status">
        Pendientes por fecha trámite
      </h6>

      <div class="grid">

        <div class="tarjeta-fecha week">
          <a href="/pendientes/week?zona={{zona}}">
            <h6 class="tarjeta-title">2 semanas</h6>
            <p class="tarjeta-text">{{cantidadPendientes.pendientesWeek}}</p>
          </a>
        </div>

        <div class="tarjeta-fecha thirty-days">
          <a href="/pendientes/30days?zona={{zona}}">
            <h6 class="tarjeta-title">30 días</h6>
            <p class="tarjeta-text">{{cantidadPendientes.pendientes30Days}}</p>
          </a>
        </div>

        <div class="tarjeta-fecha sixty-days">
          <a href="/pendientes/60days?zona={{zona}}">
            <h6 class="tarjeta-title">60 días</h6>
            <p class="tarjeta-text">{{cantidadPendientes.pendientes60Days}}</p>
          </a>
        </div>

        <div class="tarjeta-fecha more-days">
          <a href="/pendientes/more60days?zona={{zona}}">
            <h6 class="tarjeta-title">+ 60 días</h6>
            <p
              class="tarjeta-text"
            >{{cantidadPendientes.pendientesMore60Days}}</p>
          </a>
        </div>

      </div>

      <div class="buttons">
        <a href="/customer/" class="btn btn-info btn-edit"><i
            class="fas fa-users mr-1"
          ></i>Clientes</a>
        <a href="/resume/" class="btn btn-info btn-edit"><i
            class="fas fa-chart-line mr-1"
          ></i>Resumen</a>
      </div>

    </div>
  </div>

</div>