<div class="container-box">

  <div class="search">
    <form action="/customer/query" method="post">
      {{!-- <label for="cliente" class="form-label">Cliente</label> --}}
      <input type="search" placeholder="Buscar cliente" name="busqueda" class="form-control" autocomplete="off">
      <button type="submit" class="btn btn-primary fas fa-search" style="height:2rem;"></button>
    </form>
  </div>

  <div class="container p-2">
    <div class="tarjeta">
      <h2 class="resume-title">
        {{user.puesto}}
      </h2>

      <h6 class="resume-status">{{zona}}</h6>
      <h6 class="resume-status">
        Status
      </h6>

      <div class="grid">

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.espera}}">
            <h6 class="tarjeta-title">En espera</h6>
            <p class="tarjeta-text">{{status.espera}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.pendiente}}">
            <h6 class="tarjeta-title">Pendientes</h6>
            <p class="tarjeta-text">{{status.pendientes}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.finalizado}}">
            <h6 class="tarjeta-title">Finalizados</h6>
            <p class="tarjeta-text">{{status.finalizados}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.fallido}}">
            <h6 class="tarjeta-title">Fallidos</h6>
            <p class="tarjeta-text">{{status.fallidos}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.asegurado}}">
            <h6 class="tarjeta-title">Asegurados</h6>
            <p class="tarjeta-text">{{status.asegurados}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.baja}}">
            <h6 class="tarjeta-title">Bajas</h6>
            <p class="tarjeta-text">{{status.bajas}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.juridico}}">
            <h6 class="tarjeta-title">Jurídico</h6>
            <p class="tarjeta-text">{{status.juridico}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.aclaracion}}">
            <h6 class="tarjeta-title">Aclaración</h6>
            <p class="tarjeta-text">{{status.aclaraciones}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.aclaracion}}">
            <h6 class="tarjeta-title">Liquidar</h6>
            <p class="tarjeta-text">{{status.liquidar}}</p>
          </a>
        </div>

      </div>

      <div class="buttons">
        <a href="/customer/" class="btn btn-info"><i class="fas fa-users mr-1"></i>Clientes</a>
        <a href="/profile" class="btn btn-info"><i class="fas fa-user-alt mr-1"></i>Perfil</a>
      </div>
    </div>
  </div>
</div>