<div class="container-box">

  {{#if_equal user.permiso "Administrador"}}

    <div class="search">
      <form action="/resume-zona" method="POST">

        <select name="zona" id="zona" class="form-control">
          <option value="">Elige una zona</option>
          {{#each zonas}}
            <option value="{{zona}}">{{zona}}</option>
          {{/each}}
        </select>

        <button
          type="submit"
          class="btn btn-primary fas fa-search ml-2"
          style="height: 2rem;"
        ></button>

      </form>
    </div>

  {{/if_equal}}

  {{#if_equal user.permiso "Regional"}}

    <div class="search">
      <form action="/resume-zona" method="POST">

        <select name="zona" id="zona" class="form-control">
          <option value="">Elige una zona</option>
          {{#each zonas}}
            <option value="{{zona}}">{{zona}}</option>
          {{/each}}
        </select>

        <button
          type="submit"
          class="btn btn-primary fas fa-search ml-2"
          style="height: 2rem;"
        ></button>

      </form>
    </div>

  {{/if_equal}}

  <div class="tarjeta">

    {{#if zona}}
      <h2 class="resume-status">
        {{zona}}
      </h2>
    {{else}}
      <h2 class="resume-status">
        {{user.zona}}
      </h2>
    {{/if}}

    <h6 class="resume-status">
      Trámites de semana
      {{#each week}}
        {{total}}
      {{/each}}
    </h6>

    <h6 class="resume-status">
      {{totalStatus}}
    </h6>

    <div class="grid">
      {{#each statusWeek}}
        <div class="tarjeta-status">
          <a href="/status-week/{{status}}?zona={{zona}}">
            <h6 class="tarjeta-title">{{status}}</h6>
            <p class="tarjeta-text">{{total}}</p>
          </a>
        </div>
      {{/each}}
    </div>

    <h6 class="resume-status">
      Trámites totales
    </h6>

    <div class="grid">
      {{#each status}}
        <div class="tarjeta-status">
          <a href="/resume/{{status}}?zona={{zona}}">
            <h6 class="tarjeta-title">{{status}}</h6>
            <p class="tarjeta-text">{{total}}</p>
          </a>
        </div>
      {{/each}}
    </div>

    <div class="buttons">
      <a href="/customer/" class="btn btn-info"><i
          class="fas fa-users mr-1"
        ></i>Clientes</a>
      <a href="/list-altas/" class="btn btn-info">
        <i class="far fa-list-alt mr-1"></i>Altas</a>

    </div>

  </div>

</div>