<div class="container-box">

  {{#if_equal user.permiso "Administrador"}}

  <div class="search">
    <form action="/resume-zona" method="POST">
      {{!-- <label for="status" class='label active'>Zona</label> --}}

      <select name="zona" id="zona" class="form-control">
        <option value="">Elige una zona</option>
        {{#each region}}
        <option value="{{zona}}">{{zona}}</option>
        {{/each}}
      </select>

      <button type="submit" class="btn btn-primary fas fa-search ml-2" style="height: 2rem;"></button>

    </form>
  </div>

  {{/if_equal}}

  {{#if_equal user.permiso "Regional"}}

  <div class="search">
    <form action="/resume-zona" method="POST">
      {{!-- <label for="status" class='label active'>Zona</label> --}}

      <select name="zona" id="zona" class="form-control">
        <option value="">Elige una zona</option>
        {{#each region}}
        <option value="{{zona}}">{{zona}}</option>
        {{/each}}
      </select>

      <button type="submit" class="btn btn-primary fas fa-search ml-2" style="height: 2rem;"></button>

    </form>
  </div>

  {{/if_equal}}

  <div class="container p-2">

    <div class="tarjeta">

      <h2 class="resume-title">
        {{user.puesto}}
      </h2>

      {{#if zona}}
      <h6 class="resume-status">
        {{zona}}
      </h6>
      {{else}}
      <h6 class="resume-status">{{user.zona}}</h6>
      {{/if}}

      <h6 class="resume-status">
        Status
      </h6>

      <div class="grid">

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.espera}}?zona={{zona}}">
            <h6 class="tarjeta-title">En espera</h6>
            <p class="tarjeta-text">{{status.espera}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.pendiente}}?zona={{zona}}">
            <h6 class="tarjeta-title">Pendientes</h6>
            <p class="tarjeta-text">{{status.pendientes}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.finalizado}}?zona={{zona}}">
            <h6 class="tarjeta-title">Finalizados</h6>
            <p class="tarjeta-text">{{status.finalizados}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.fallido}}?zona={{zona}}">
            <h6 class="tarjeta-title">Fallidos</h6>
            <p class="tarjeta-text">{{status.fallidos}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.asegurado}}?zona={{zona}}">
            <h6 class="tarjeta-title">Asegurados</h6>
            <p class="tarjeta-text">{{status.asegurados}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.baja}}?zona={{zona}}">
            <h6 class="tarjeta-title">Bajas</h6>
            <p class="tarjeta-text">{{status.bajas}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.juridico}}?zona={{zona}}">
            <h6 class="tarjeta-title">Jurídico</h6>
            <p class="tarjeta-text">{{status.juridico}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.aclaracion}}?zona={{zona}}">
            <h6 class="tarjeta-title">Aclaración</h6>
            <p class="tarjeta-text">{{status.aclaraciones}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.aclaracion}}?zona={{zona}}">
            <h6 class="tarjeta-title">Liquidar</h6>
            <p class="tarjeta-text">{{status.liquidar}}</p>
          </a>
        </div>

        <div class="tarjeta-status">
          <a href="/resume/{{titulos.actualizar}}?zona={{zona}}">
            <h6 class="tarjeta-title">Actualizar</h6>
            <p class="tarjeta-text">{{status.actualizar}}</p>
          </a>
        </div>

      </div>

      <div class="buttons">
        <a href="/customer/" class="btn btn-info"><i class="fas fa-users mr-1"></i>Clientes</a>
        <a href="/profile" class="btn btn-info"><i class="fas fa-user-alt mr-1"></i>Perfil</a>
      </div>

    </div>
  </div>

</div>