<div class="container-box">

  <div class="search">
    <form action="/links/consult" method="post">
      <label for="cliente">Cliente</label>
      <input type="text" name="cliente" class="form-control">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>

  <div class="container p-4">
    <div class="row">
      {{#each links}}
      <div class="col-md-6 mx-auto">
        <div class="card text-center">
          <div class="card-body">

            <p class="m-1">Nombre del cliente</p>
            <p class="m-1">{{cliente}}</p>
            <p class="m-1">Curp</p>
            <p class="m-1">{{curp}}</p>
            <p class="m-1">Fecha de trámite</p>
            <p class="m-1">{{fecha_tramite}}</p>
            <p class="m-1">Cantidad a retirar</p>
            <p class="m-1">{{monto}}</p>

          </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>There are not Links saved yet.</p>
          <a href="/links/add">Create One!</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>


{{!-- {{this}} muestra los datos que recorre --}}