<div class="container p-2">
  <div class="row">

    {{#each links}}
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <a href="">
            <h3 class="card-title text-uppercase">
              {{cliente}}
            </h3>
          </a>
          <p class="m-2">{{curp}}</p>

          <p>{{showTime create_at}}</p>

          <a href="/links/delete/{{idtramites}}" class="btn btn-danger">Delete</a>
          <a href="/links/edit/{{idtramites}}" class="btn btn-secondary">Edit</a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto">
      <div class="card card-body text-center">
        <p>There are not links saved yet.</p>
        <a href="/links/add">Create one</a>
      </div>
    </div>
    {{/each}}

  </div>
</div>

{{!-- {{this}} muestra los datos que recorre --}}