<div class="container-box">

  <form action="/links/consult" method="post">
    <label for="cliente">Cliente</label>
    <input type="text" name="cliente">
    <button type="submit">Buscar</button>

  </form>
  <div class="index">
    <table>
      <thead>
        <tr>
          <th>Id Cliente</th>
          <th>Nombre del cliente</th>
          <th>Curp</th>
          <th>NSS</th>
          <th>Afore</th>
          <th>Monto</th>
          <th>Semanas cotizadas</th>
          <th>Semanas descontandas</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Outsourcing</th>
          <th></th>
          <th>Fecha</th>
        </tr>
      </thead>
    </table>
    {{#each links}}
    <table>

      {{!-- <thead>
        <tr>
          <th>Nombre del cliente</th>
          <th>Curp</th>
          <th>Fecha</th>
        </tr>
      </thead> --}}


      <tr>
        <td> {{cliente}}</td>
        <td>{{curp}}</td>
        <td>{{nss}}</td>
        <td>{{showTime create_at}}</td>
      </tr>

    </table>

    {{!-- <a href="/links/delete/{{idtramites}}" class="btn btn-danger">Delete</a>
    <a href="/links/edit/{{idtramites}}" class="btn btn-secondary">Edit</a> 
    {{else}}
    <div class="col-md-4 mx-auto">
      <div class="card card-body text-center">
        <p>There are not links saved yet.</p>
        <a href="/links/add">Create one</a>
      </div>
    </div>--}}
    {{/each}}

  </div>
</div>
{{!-- {{this}} muestra los datos que recorre --}}