<div class="container-box">

  <div class="form">

    <h2 class="form__title">Datos del Cliente</h2>

    <form action="/add-customer" method="post" class="form__add-customer" name="formulario_cliente">

      <div class="form__input">

        {{!-- nombre --}}
        <div class="form__input-item">
          <input type="text" id="nombre" name="nombre">
          <label for="nombre" class='label'>Nombre(s)</label>
        </div>

        {{!-- apellido --}}
        <div class="form__input-item">
          <input type="text" id="apellido" name="apellido">
          <label for="apellido" class='label'>Apellido(s)</label>
        </div>

        {{!-- curp --}}
        <div class="form__input-item">
          <input type="text" id="curp" name="curp">
          <label for="curp" class='label'>Curp</label>
        </div>

        {{!-- nss --}}
        <div class="form__input-item">
          <input type="text" id="nss" name="nss">
          <label for="nss" class='label'>NSS</label>
        </div>

        {{!-- afore & monto--}}
        <div class="form__input-afore">

          <div class="form__input-item">

            <label for="afore" class='label active'>Afore</label>

            <select name="afore">
              <option value="">---</option>
              {{#each afores}}
              <option value="{{afore}}">{{afore}}</option>
              {{/each}}
            </select>

          </div>

          <div class="form__input-item">
            <input type="number" id="monto" name="monto">
            <label for="monto" class='label'>Monto</label>
          </div>
        </div>

        {{!-- semanas --}}
        <div class="form__input-semanas">

          <div class="form__input-item">
            <input type="text" name="scotizadas">
            <label for="scotizadas" class='label'>Semanas Cotizadas</label>
          </div>

          <div class="form__input-item">
            <input type="text" id="sdescontadas" name="sdescontadas">
            <label for="sdescontadas" class='label'>Semanas Descontadas</label>
          </div>

        </div>

        {{!-- dirección --}}
        <div class="form__input-item">
          <input type="text" id="direccion" name="direccion">
          <label for="direccion" class='label'>Dirección</label>
        </div>

        {{!-- teléfono --}}
        <div class="form__input-item">
          <input type="tel" pattern='([0-9]{10})' id="telefono" name="telefono">
          <label for="tel" class='label'>Teléfono</label>
        </div>


        {{!-- asesor & retiro--}}
        <div class="form__input-asesor">
          {{!-- asesor --}}
          <div class="form__input-item">

            <label for="asesor" class='Label active'>Asesor</label>

            <select name="asesor">
              <option value="">---</option>
              {{#each asesoresZona}}
              <option value="{{asesor}}">{{asesor}}</option>
              {{/each}}
            </select>

          </div>

          {{!-- fecha último retiro --}}
          <div class="form__input-item">
            <input type="date" id="fecha_ultimo_retiro" name="fecha_ultimo_retiro">
            <label for="fecha_ultimo_retiro" class='label active'>Fecha último retiro</label>
          </div>

        </div>

        <h6 class="card-title m-2 text-center">Observaciones:</h6>

        <div class="text-center mb-3">
          <textarea required name="observaciones" id="observaciones" cols="30"
            rows="5">{{customer.observaciones}}</textarea>
        </div>

        {{!-- guardar --}}
        <div class="form__input-item">
          <input class="btn btn-info btn-block" type="submit" name="btn-submit" id="form__btn-submit" value="Guardar">
        </div>

      </div>

    </form>

  </div>
</div>

<script src="/js/clientRegister.js"></script>