{{!-- Formulario agregar observaciones --}}
<div class="container-box">

  <div class="container p-2">

    <div class="col-md-8 mt-2 mx-auto">

      <form action="/customer/edit/{{customer.id}}" method="post" class="form__edit" name="formulario_cliente">

        <div class="card border-info text-dark bg-light">

          <div class="card_title">
            <h5 class="card-header text-muted">{{customer.cliente}}</h5>
            <a onclick="window.history.back()"><i class="fas fa-arrow-left text-muted"></i></a>
          </div>

          <div class="card-body">

            <div class="grid__edit">
              <h6 class="card-title m-1">Fecha de trámite:</h6>
              <p class="card-text m-1">{{customer.fecha_tramite}}</p>
              <h6 class="card-title m-1">Cantidad a retirar:</h6>
              <p class="card-text m-1">{{customer.monto}}</p>
              <h6 class="card-title m-1">Curp:</h6>
              <p class="card-text m-1">{{customer.curp}}</p>
              <h6 class="card-title m-1">NSS:</h6>
              <p class="card-text m-1">{{customer.nss}}</p>
              <h6 class="card-title m-1">Semanas cotizadas:</h6>
              <p class="card-text m-1">{{customer.scotizadas}}</p>
              <h6 class="card-title m-1">Semanas descontadas:</h6>
              <p class="card-text m-1">{{customer.sdescontadas}}</p>
              <h6 class="card-title m-1">Dirección:</h6>
              <p class="card-text m-1">{{customer.direccion}}</p>
              <h6 class="card-title m-1">Teléfono:</h6>
              <p class="card-text m-1">{{customer.telefono}}</p>
              <h6 class="card-title m-1">Status:</h6>
              <p class="card-text m-1">{{customer.status}}</p>

              {{#if_equal customer.status "Pendiente"}}
              <h6 class="card-title m-1">Motivo:</h6>
              <p class="card-text m-1">{{customer.motivo}}</p>
              {{/if_equal}}

              <h6 class="card-title m-1">Zona:</h6>
              <p class="card-text m-1">{{customer.zona}}</p>
              <h6 class="card-title m-1">Fecha actualización:</h6>
              <p class="card-text m-1">{{customer.fecha_status}}</p>
              <h6 class="card-title m-1">Fecha solución:</h6>
              <p class="card-text m-1">{{customer.fecha_solucion}}</p>

              <h6 class="card-title m-1">Observaciones:</h6>
              <p class="card-title m1">
                <label for="observaciones">{{customer.observaciones}}</label>
              </p>

            </div>

            {{!-- Determina si es pendiente --}}
            {{#if_equal customer.status "Pendiente"}}

            <h6 class="card-title mt-4 text-center">Selecciona el motivo</h6>

            <div class="text-center mb-4">
              <div class="form__input">

                <div class="form__input-item">
                  {{!-- <label for="status" class='label active'>Motivo</label> --}}
                  <select required name="motivo" id="motivo">
                    <option value=""></option>
                    <option value="Afore">Afore</option>
                    <option value="Antigüedad">Antigüedad</option>
                    <option value="Cita">Cita</option>
                    <option value="Cobro">Cobro</option>
                    <option value="Demanda">Demanda</option>
                    <option value="Documentos">Documentos</option>
                    <option value="Orden">Orden</option>
                    <option value="Saldos">Saldos</option>
                    <option value="Unificación">Unificación</option>
                  </select>
                </div>

                <h6 class="card-title mb-4 text-center">Selecciona la fecha de solución</h6>

                <div class="form__input-item">
                  {{!-- <label for="fecha_solucion" class='label active'>Fecha de solución</label> --}}
                  <input required name='fecha_solucion' type="date">
                </div>

              </div>
            </div>

            <h6 class="card-title m-2 text-center">Observaciones:</h6>

            <div class="text-center">
              <textarea class="form-control" required name="observaciones" id="observaciones" cols="30"
                rows="3">{{customer.observaciones}}</textarea>
            </div>

            <div class="text-center">
              <input class="btn btn-info btn-edit" type="submit" name="btn-submit" id="form__btn-submit"
                value="Actualizar">

              <a href="/customer/" class="btn btn-info btn-edit"><i class="fas fa-users mr-1"></i>Clientes</a>

              <a href="/resume/" class="btn btn-info btn-edit"><i class="fas fa-chart-line mr-1"></i>Resumen</a>

            </div>

            {{!-- Pendiente y administrador --}}
            {{#if_equal user.permiso "Administrador"}}
            <div class="text-center">
              <a href="/customer/status/{{customer.id}}" class="btn btn-danger btn-edit">
                <i class="fas fa-redo-alt mr-1"></i>Status</a>
            </div>
            {{/if_equal}}

            {{!-- Pendiente y regional --}}
            {{#if_equal user.permiso "Regional"}}
            <div class="text-center">
              <a href="/customer/status/{{customer.id}}" class="btn btn-danger btn-edit">
                <i class="fas fa-redo-alt mr-1"></i>Status</a>
            </div>
            {{/if_equal}}

            {{!-- Pendiente y temporal --}}
            {{#if_equal user.permiso "Temporal"}}
            <div class="text-center">
              <a href="/customer/status/{{customer.id}}" class="btn btn-danger btn-edit">
                <i class="fas fa-redo-alt mr-1"></i>Status</a>
            </div>
            {{/if_equal}}

            {{!-- Si no es pendiente --}}
            {{else}}
            <div class="text-center">
              <a href="/customer/" class="btn btn-info btn-edit"><i class="fas fa-users mr-1"></i>Clientes</a>

              <a href="/resume/" class="btn btn-info btn-edit"><i class="fas fa-chart-line mr-1"></i>Resumen</a>

              {{#if_equal user.permiso "Administrador"}}

              <a href="/customer/status/{{customer.id}}" class="btn btn-danger btn-edit">
                <i class="fas fa-redo-alt mr-1"></i>Status</a>

              {{/if_equal}}

              {{/if_equal}}

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>