<div class="container-box">

  <div class="search">
    <form action="/customer/query" method="post">
      {{!-- <label for="cliente" class="form-label">Cliente</label> --}}
      <input type="search" placeholder="Buscar cliente" name="busqueda" class="form-control" autocomplete="off">
      <button type="submit" class="btn btn-primary fas fa-search" style="height:2rem;"></button>
    </form>
  </div>

  <div class="btn btn-primary buttonFloat" style="height:2rem;">
    <a href="#siteTop"><i class="fas fa-arrow-up"></i></a>
  </div>

  <section class="list-customers">
    <div class="wrapper">

      {{#if zona}}

      <h3>{{zona}}</h3>

      {{else}}

      <h3>{{user.zona}}</h3>

      {{/if}}

      <div class="list-title">

        <h5>{{user.fullname}}</h5>

        <div class="buttons btn-list">
          <a href="/resume/" class="btn btn-info btn-space"><i class="fas fa-chart-line mr-1"></i>Resumen</a>
        </div>

      </div>
      {{#each customer}}
      <div class="customer">
        <div class="grid-list">

          <h6>Cliente</h6>
          <p>{{cliente}}</p>
          <h6>CURP</h6>
          <p>{{curp}}</p>
          <h6>NSS</h6>
          <p>{{nss}}</p>


          <h6>Monto</h6>
          <p>{{monto}}</p>

          <h6>Fecha de trámite</h6>
          <p>{{fecha_tramite}}</p>

          <h6>Fecha último retiro</h6>
          <p>{{fecha_ultimo_retiro}}</p>
          <h6>Semanas Cotizadas</h6>
          <p>{{scotizadas}}</p>

          <h6>Semanas Descontadas</h6>
          <p>{{sdescontadas}}</p>

          <h6>Afore</h6>
          <p>{{afore}}</p>
          <h6>Asesor</h6>
          <p>{{asesor}}</p>

          <h6>Status</h6>
          <p>{{status}}</p>

          <h6>{{zona}}</h6>
          <a href="/customer/edit/{{id}}" class="btn btn-info">Detalles</a>

        </div>
      </div>

      {{else}}
      <div class="card card-body text-center mt-2">
        <p class="text-center">Escribe el nombre del cliente para realizar una búsqueda.</p>
        <a href="/profile">Ir a perfil!</a>
      </div>
      {{/each}}



    </div>

  </section>

</div>