<div class="container-box">

  <div class="search">
    <form action="/customer/query" method="post">
      {{!-- <label for="cliente" class="form-label">Cliente</label> --}}
      <input type="search" placeholder="Buscar cliente" name="busqueda" class="form-control" autocomplete="off">
      <button type="submit" class="btn btn-primary fas fa-search" style="height:2rem;"></button>
    </form>
  </div>

  <div class="container p-4">
    <div class="row">
      {{#each customers}}
      <div class="col-md-4 mt-4 mx-auto">
        <div class=" card border-info text-dark bg-light">

          <h5 class="card-header text-muted">Id {{id}}</h5>

          <div class="card-body">

            <h6 class="card-title m-1">Nombre del cliente:</h6>
            <p class="card-text m-1">{{cliente}}</p>
            <h6 class="card-title m-1">Fecha de trámite:</h6>
            <p class="card-text m-1">{{fecha_tramite}}</p>
            <h6 class="card-title m-1">Cantidad a retirar:</h6>
            <p class="card-text m-1">{{monto}}</p>
            <h6 class="card-title m-1">Status:</h6>
            <p class="card-text m-1">{{status}}</p>
            <h6 class="card-title m-1">Zona:</h6>
            <p class="card-text m-1">{{zona}}</p>

            <div class="buttons">
              <a href="/customer/edit/{{id}}" class="btn btn-info">Detalles</a>
            </div>

          </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p class="text-center">No se ha realizado ninguna busqueda.</p>
          <a href="/profile">Ir a perfil!</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>


{{!-- {{this}} muestra los datos que recorre --}}