<div class="container-box">

  <section class="list-customers">
    <div class="wrapper">

      <h3>{{user.zona}}</h3>

      <div class="list-title text-right">

        {{!-- <h6>{{liquidar.cliente}}</h6> --}}

      </div>

      <div class="customer">
        <div class="grid-list">

          <h6>Cliente</h6>
          <p>{{liquidar.cliente}}</p>

          <h6>Monto</h6>
          <p>{{liquidar.monto_cobrado}}</p>
          <h6>Porcentaje</h6>
          <p>{{liquidar.porcentaje}}%</p>
          <h6>Comisión</h6>
          <p>{{liquidar.comision}}</p>
          <h6>Aseguramiento</h6>
          <p>{{liquidar.aseguramiento}}</p>

          <h6>Asesor</h6>
          <p>{{liquidar.asesor}}</p>

          <h6>Sucursal</h6>
          <p>{{liquidar.sucursal}}</p>
          <h6>Total a liquidar</h6>
          <p>{{liquidar.liquidar}}</p>

        </div>
      </div>

    </div>

  </section>

</div>