<div class="container-box">

  <div class="search">
    <form action="/liquidaciones" method="post">

      <input
        type="search"
        placeholder="Buscar liquidación"
        name="folio"
        class="form-control"
        autocomplete="off"
      />
      <button
        type="submit"
        class="btn btn-primary fas fa-search"
        style="height:2rem;"
      ></button>
    </form>
  </div>

  <section class="list-customers">
    <div class="wrapper">

      <h5>Liquidaciones Pendientes</h5>

      <div class="list-title">

        {{! <h5></h5> }}
        <h6>Total {{liquidacionTotal}}</h6>

        {{#if_equal user.permiso "Administrador"}}

          <div class="search" style="max-width: 200px;">
            <form action="/liquidaciones/liquidar-zona" method="POST">

              <select name="zona" id="zona" class="form-control">
                <option value="">Zona</option>
                {{#each zonas}}
                  <option value="{{zona}}">{{zona}}</option>
                {{/each}}
              </select>

              <button
                type="submit"
                class="btn btn-danger fas fa-dollar-sign ml-2"
                style="height: 2rem;"
              ></button>

            </form>
          </div>

        {{/if_equal}}

        {{#if_equal user.permiso "Regional"}}

          <div class="search" style="max-width: 200px;">
            <form action="/liquidaciones/liquidar-zona" method="POST">

              <select name="zona" id="zona" class="form-control">
                <option value="">Zona</option>
                {{#each zonas}}
                  <option value="{{zona}}">{{zona}}</option>
                {{/each}}
              </select>

              <button
                type="submit"
                class="btn btn-danger fas fa-dollar-sign ml-2"
                style="height: 2rem;"
              ></button>

            </form>
          </div>

        {{/if_equal}}

      </div>
      {{#each liquidaciones}}

        <div class="customer">

          <div class="grid-list">

            <h6>Cliente</h6>
            <p>{{cliente}}</p>

            <h6>Monto</h6>
            <p>{{monto}}</p>
            <h6>Porcentaje</h6>
            <p>{{porcentaje}}%</p>
            <h6>Comisión</h6>
            <p>{{comision}}</p>
            <h6>Aseguramiento</h6>
            <p>{{aseguramiento}}</p>
            <h6>Abono</h6>
            <p>{{abono}}</p>

            <h6>Asesor</h6>
            <p>{{asesor}}</p>

            <h6>Sucursal</h6>
            <p>{{sucursal}}</p>

            <h6>Zona</h6>
            <p>{{zona}}</p>

            <h6>Total a liquidar</h6>
            <p>{{liquidar}}</p>

          </div>

        </div>

      {{else}}
        <div class="card card-body text-center mt-2">
          <p class="text-center">Sin liquidaciones abiertas.</p>
        </div>
      {{/each}}

    </div>

  </section>

</div>